*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 300 to 700 */

/* .space-grotesk-<uniquifier> {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

body{
  background-color: #010101 !important;
}
/* header section */
.header{
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: 
    url(../images/header-background-top.png),
    url(../images/purple-shadow-left.svg),
    url(../images/purple-shadow-right.svg),
    url(../images/header-background.png) 
  ;
  background-position: top -20px left ,top left, top right, center;
  background-size: 130px 130px, 400px, 400px, cover;
  background-repeat: no-repeat , no-repeat;
  height: fit-content;
  width: 100%;
  gap: 128px;
  margin-bottom: 256px;
}

.header__navbar{
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border: 1px solid #404040;
  border-radius: 16px;
  backdrop-filter: blur(70px);
  width: 100%;
}

.navbar__logo{
  background-image: url(../images/logo.png);
  height: 50px;
  width: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.navbar__links{
  display: none;
}

.navbar__hamburger{
  height: 24px;
  width: 24px;
  cursor: pointer;
  display: block;
}

.header-welcome{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header__navbar .button--purple{
  display: none;
}

.header-welcome__text--small{
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;  
  color: #CFCFCF;
  margin-bottom: 16px;
}

.header-welcome__text--big{
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;  
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 24px;
}

.underline{
  text-decoration: underline;
}

.welcome__buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 16px;
  margin-top: 32px;
}

.button--purple{
  border-radius: 8px;
  padding: 16px 24px;
  background-color: #A58FFE;
  width: 100%;
  outline: 0;
  border: #A58FFE solid 1px;
  color: #ffffff;
  text-transform: capitalize;
}

.button--transparent{
  border-radius: 8px;
  padding: 16px 24px;
  background-color: transparent;
  width: 100%;
  outline: 0;
  border: #A58FFE solid 1px;
  color: #ffffff;
  text-transform: capitalize;
}

.crypto-vault{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.vault-image{
  height: 200px;
  width: 200px;
}

.vault-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.vault-text-bold{
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;  
  color: #ffffff;
  margin: 0;
}

.vault-text{
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;  
  color: #CFCFCF;
  text-align: center;
  margin: 0;
}

.crypto-vault .button--purple{
  margin-top: 0px;
}

/* features section */
.features{
  background-color: #010101;
  height: fit-content;
  background-image: url(../images/round-purple-background.svg);
  background-position: top left -124px;
  background-size: 700px 700px;
  background-repeat: no-repeat;
  padding: 0px 24px;
  margin-bottom: 205px;
}

.feature{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.section__heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0px 24px;
}

.heading__text--big{
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  text-transform: capitalize;
}

.heading__text--small{
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: #CFCFCF;
}

.feature__info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.info{
  border-radius: 16px;
  border: 1px solid #404040;
  height: 330px;
  width: 100%;
}

.info__image{
  background-color: #211D33;
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.info__image img{
  height: 150px;
  width: 150px;
}

.info__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 8px 16px;
}

.info__text p{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin: 0px;
}

/* creators section */
.creators{
  height: fit-content;
  background-image: url(../images/round-purple-background.svg);
  background-position: top -150px left;
  background-size: 700px 700px;
  background-repeat: no-repeat;
  padding: 0px;
  margin-bottom: 205px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.creators__info{
  height: 300px;
  display: flex;
  flex-direction: row;
  width: calc(100% - 24px);
  align-self: flex-end;
  gap: 16px;
  overflow-y: hidden;
  overflow-x: auto;
  
}

.creators__info::-webkit-scrollbar{
  height: 8px;
}

.creators__info::-webkit-scrollbar-track{
  background: #010101;
}
.creators__info::-webkit-scrollbar-thumb{
  background:  #A58FFE;
  margin-top: 20px;
  border-radius: 4px;
}

.creator{
  display: flex;
  flex: 1 0 200px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  gap: 16px;
}

.creator__image{
  width: 100%;
  height: 184px;
}

.creator__image img{
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.creator__details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.creator__name{
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center; 
  color: #FFFFFF; 
  text-transform: capitalize;
  margin: 0px;
}

.creator__socials{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.social-media{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.social__icon{
  height: 24px;
  width: 24px;
}

.social-followers{
  margin: 0px;
  font-size: 10px !important; 
  font-weight: 400;
  line-height: 21px;
  text-align: center;  
  color: #B7B7B7;
}

/* community gainers section */

.community-gainers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 256px;
}

.gain-ctn{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 257px;
  align-self: flex-end;
  width: calc(100% - 24px);
  gap: 24px;
  overflow-y: hidden;
  overflow-x: auto;
}

.gains{
  height: 100%;
  flex: 1 0 445px;
}

.gain-ctn::-webkit-scrollbar{
  height: 10px;
}

.gain-ctn::-webkit-scrollbar-track{
  background: #010101;
}
.gain-ctn::-webkit-scrollbar-thumb{
  background:  #A58FFE;
  margin-top: 20px;
  border-radius: 4px;
}


/* testimonial section */
.testimonials{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 256px;
}

.testimony-ctn{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 24px);
  align-self: flex-end;
  overflow-y: hidden;
  overflow-x: auto;
  gap: 24px;
  padding: 5px 0px;
}

.testimony{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 24px;
  padding: 56px;
  border: 1px solid #404040;
  border-radius: 16px;
  height: 450px;
  flex: 1 0 365px;
}

.testimony-ctn::-webkit-scrollbar{
  height: 10px;
}

.testimony-ctn::-webkit-scrollbar-track{
  background: #010101;
}
.testimony-ctn::-webkit-scrollbar-thumb{
  background:  #A58FFE;
  margin-top: 20px;
  border-radius: 4px;
}

.testimony__stars{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.star{
  height: 24px;
  width: 24px;
}

.testimony__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 24px;
  width: 100%;
}

.testimony__text--small{
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;  
  color: #ffffff;
  margin: 0px;
  text-transform: capitalize;
}

.testimony__client{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
}

.client__text--big{
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;  
  color: #FFFFFF;
  margin: 0px;
  text-transform: capitalize;
}

.client__text--faded{
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;  
  color: #707070;
  margin: 0px;
  text-transform: capitalize;
}

@media only screen and (min-width: 768px){

  /* header section */
  .header{
    padding: 40px 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: 
      url(../images/header-background-top.png),
      url(../images/purple-shadow-left-desktop.svg),
      url(../images/purple-shadow-right-desktop.svg),
      url(../images/header-background-desktop.png)
    ;
    background-position: left 56px top -20px ,left top, top right, center;
    background-size: 300px 250px, 90% 80%, 90% 80%, cover;
    background-repeat: no-repeat , no-repeat;
    height: fit-content;
    left: 500px ;
    width: 100%;
    gap: 144px;
    margin-bottom: 400px;
  }
  
  .header__navbar{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25.5px 40px;
    border: 1px solid #404040;
    border-radius: 16px;
    backdrop-filter: blur(70px);
    width: 100%;
  }
  
  .navbar__logo{
    background-image: url(../images/logo.png);
    height: 50px;
    width: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }
  
  .navbar__links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    align-items: center;
  }

  .link{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;  
    color: #9F9F9F;
    text-transform: capitalize;  
    text-decoration: none;
  }

  .link:hover{
    color: #A58FFE;
  }
  
  .navbar__hamburger{
    display: none;
  }
  
  .header-welcome{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__navbar .button--purple{
    margin: 0px;
    width: 151px;
    height: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;   
    padding: 12px 20px; 
    display: block;
  }
  
  .header-welcome__text--small{  
    color: #CFCFCF;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
  }
  
  .header-welcome__text--big{
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    text-align: center;    
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 32px;
  }
  
  .underline{
    text-decoration: underline;
  }

  .welcome__buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
  }

  .button--purple{
    border-radius: 8px;
    padding: 12px 18px;
    background-color: #A58FFE;
    width: 177px;
    height: 56px;
    outline: 0;
    border: #A58FFE solid 1px;
    color: #ffffff;
    text-transform: capitalize;
    margin: 0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  }
  
  .button--transparent{
    border-radius: 8px;
    padding: 12px 18px;
    background-color: transparent;
    width: 167px;
    height: 56px;
    outline: 0;
    border: #A58FFE solid 1px;
    color: #ffffff;
    text-transform: capitalize;
  }
  
  .crypto-vault{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .vault-image{
    height: 400px;
    width: 400px;
  }
  
  .vault-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 24px;
    margin-left: 80px;
  }
  
  .vault-text-bold{
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-align: start;  
    color: #ffffff;
    margin: 0;
  }
  
  .vault-text{
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: start;  
    color: #CFCFCF;
    margin: 0;
  }
  
  .crypto-vault .button--purple{
    margin-top: 0px;
  }

  /* features section */
  .features{
    background-color: #010101;
    height: fit-content;
    background-image: url(../images/round-purple-background.svg);
    background-position: top 120px left -124px;
    background-size: 700px 700px;
    background-repeat: no-repeat;
    padding: 0px 144px;
    margin-bottom: 400px;
  }

  .feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 56px;
  }

  .section__heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0 136px;
  }

  .heading__text--big{
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;    
    color: #FFFFFF;
    text-transform: capitalize;
  }

  .heading__text--small{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;    
    color: #CFCFCF;
  }

  .feature__info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2%;
  }

  .info{
    border-radius: 16px;
    border: 1px solid #404040;
    height: 400px;
    width: 32%;
    margin-bottom: 40px;
  }

  .info__image{
    background-color: #211D33;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .info__image img{
    height: 205px;
    width: 205px;
  }

  .info__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 8px 16px;
  }

  .info__text p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
  }

  /* creators section */
  .creators{
    height: fit-content;
    background-image: url(../images/round-purple-background.svg);
    background-position: top left;
    background-size: 700px 700px;
    background-repeat: no-repeat;
    margin-bottom: 205px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
  }

  .creators__info{
    height: 400px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: calc(100% - 144px);
    gap: 24px;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .creators__info::-webkit-scrollbar{
    height: 10px;
  }

  .creators__info::-webkit-scrollbar-track{
    background: #010101;
  }
  .creators__info::-webkit-scrollbar-thumb{
    background:  #A58FFE;
    margin-top: 20px;
    border-radius: 4px;
  }

  .creator{
    display: flex;
    flex: 1 0 270px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    gap: 16px;
  }

  .creator__image{
    width: 100%;
    height: 250px;
  }

  .creator__image img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }

  .creator__details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 150px;
  }

  .creator__name{
    font-size: 26px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;    
    color: #FFFFFF; 
    text-transform: capitalize;
    margin: 0px;
  }

  .creator__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .social__icon{
    height: 24px;
    width: 24px;
  }

  .social-followers{
    font-size: 20px !important;
    font-weight: 400;
    line-height: 30px;
    text-align: center;     
    color: #B7B7B7;
  }

  .community-gainers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
    margin-bottom: 400px;
  }

  .gain-ctn{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
    align-self: flex-end;
    width: calc(100% - 144px);
    gap: 24px;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 5px 0px;
  }

  .gains{
    height: 100%;
    flex: 1 0 700px;
  }

  .gain-ctn::-webkit-scrollbar{
    height: 10px;
  }

  .gain-ctn::-webkit-scrollbar-track{
    background: #010101;
  }
  .gain-ctn::-webkit-scrollbar-thumb{
    background:  #A58FFE;
    margin-top: 20px;
    border-radius: 4px;
  }

  /* testimonial section */

  .testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 256px;
  }
    
  .testimony-ctn{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 144px);
    align-self: flex-end;
    overflow-y: hidden;
    overflow-x: auto;
    gap: 24px;
    padding: 5px 0px;
  }
  
  .testimony{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 24px;
    padding: 56px;
    border: 1px solid #404040;
    border-radius: 16px;
    height: 450px;
    flex: 1 0 424px;
  }
  
  .testimony-ctn::-webkit-scrollbar{
    height: 10px;
  }
  
  .testimony-ctn::-webkit-scrollbar-track{
    background: #010101;
  }
  .testimony-ctn::-webkit-scrollbar-thumb{
    background:  #A58FFE;
    margin-top: 20px;
    border-radius: 4px;
  }
  
  .testimony__stars{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
  .star{
    height: 24px;
    width: 24px;
  }
  
  .testimony__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 24px;
    width: 100%;
  }
  
  .testimony__text--small{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;  
    color: #ffffff;
    margin: 0px;
    text-transform: capitalize;
  }
  
  .testimony__client{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
  }
  
  .client__text--big{
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;  
    color: #FFFFFF;
    margin: 0px;
    text-transform: capitalize;
  }
  
  .client__text--faded{
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;  
    color: #707070;
    margin: 0px;
    text-transform: capitalize;
  }

}