*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 300 to 700 */

/* .space-grotesk-<uniquifier> {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

body{
  background-color: #010101 !important;
}
/* header section */

.bg__gradient{
  background-image: linear-gradient(to bottom , #01010100, #010101);
  height: fit-content;
  width: 100%;
  padding: 0px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 128px;
  margin-bottom: 256px;
  z-index: 10;
  position: relative;
}

.header{
  height: fit-content;
  position: relative;
  width: 100%;
  gap: 144px;
  margin-bottom: 400px;
  z-index: 10;
}

.header::before{
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  background-image: 
    url(../images/header-background.png) 
  ;
  background-position: top;
  background-size: contain;
  background-repeat: repeat;
  z-index: 1;
}

.header-spiral-image{
  position: absolute;
  top: -20px;
  left: 0px;
  height: 130px;
  width: 130px;
}

.header__navbar{
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  border: 1px solid #404040;
  border-radius: 16px;
  backdrop-filter: blur(70px);
  -webkit-backdrop-filter: blur(70px);
  width: calc(100% - 48px);
  position: fixed;
  top: 24px;
  z-index: 99;
}

.navbar__logo{
  background-image: url(../images/logo.png);
  height: 50px;
  width: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.navbar__links{
  display: none;
}

.navbar__hamburger{
  height: 24px;
  width: 24px;
  cursor: pointer;
  display: block;
}

.header-welcome{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 250px;
}

.header__navbar .button--purple{
  display: none;
}

.header-welcome__text--small{
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;  
  color: #CFCFCF;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.header-welcome__text--big{
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;  
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 24px;
}

.underline{
  text-decoration: underline;
}

.welcome__buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 16px;
  margin-top: 32px;
}

.button--purple{
  border-radius: 8px;
  padding: 16px 24px;
  background-color: #A58FFE;
  width: 100%;
  outline: 0;
  border: #A58FFE solid 1px;
  color: #ffffff;
  text-transform: capitalize;
}

.button--transparent{
  border-radius: 8px;
  padding: 16px 24px;
  background-color: transparent;
  width: 100%;
  outline: 0;
  border: #A58FFE solid 1px;
  color: #ffffff;
  text-transform: capitalize;
}

.crypto-vault{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.vault-image{
  height: 200px;
  width: 200px;
}

.vault-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.vault-text-bold{
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;  
  color: #ffffff;
  margin: 0;
}

.vault-text{
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;  
  color: #CFCFCF;
  text-align: center;
  margin: 0;
}

.crypto-vault .button--purple{
  margin-top: 0px;
}

.purple-shadow--left{
  background-color: #A58FFE;
  height: 45px;
  width: 200px;
  filter: blur(80px);
  transform: rotate(45deg);
  position: absolute;
  left: 0px;
  top: 150px;
  z-index: 0;
}

.purple-shadow--right{
  background-color: #A58FFE;
  height: 45px;
  width: 200px;
  filter: blur(80px);
  transform: rotate(-45deg);
  position: absolute;
  right: 0px;
  top: 150px;
  z-index: 0;
}

/* features section */
.features{
  background-color: #010101;
  height: fit-content;
  padding: 0px 24px;
  margin-bottom: 205px;
}

.feature{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
}

.features .purple-shadow{
  height: 300px;
  width: 300px;
  position: absolute;
  top: 120px;
  left: -144px;
  background-color: #A58FFE;
  filter: blur(250px);
  z-index: 0;
}

.section__heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0px 24px;
}

.heading__text--big{
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  text-transform: capitalize;
}

.heading__text--small{
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: #CFCFCF;
}

.feature__info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 24px;
  position: relative;
}

.info{
  border-radius: 16px;
  border: 1px solid #404040;
  height: 330px;
  width: 100%;
}

.info__image{
  background-color: #211D33;
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.info__image img{
  height: 150px;
  width: 150px;
}

.info__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 8px 16px;
}

.info__text p{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin: 0px;
}

/* creators section */
.creators{
  height: fit-content;
  background-image: url(../images/round-purple-background.svg);
  background-position: top -150px left;
  background-size: 700px 700px;
  background-repeat: no-repeat;
  padding: 0px;
  margin-bottom: 205px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.creators__info{
  height: 300px;
  display: flex;
  flex-direction: row;
  width: calc(100% - 24px);
  align-self: flex-end;
  gap: 16px;
  overflow-y: hidden;
  overflow-x: auto;
  
}

.creators__info::-webkit-scrollbar{
  height: 8px;
}

.creators__info::-webkit-scrollbar-track{
  background: #010101;
}
.creators__info::-webkit-scrollbar-thumb{
  background:  #A58FFE;
  margin-top: 20px;
  border-radius: 4px;
}

.creator{
  display: flex;
  flex: 1 0 200px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  gap: 16px;
}

.creator:last-child, .gains:last-child, .testimony:last-child{
  margin-right: 16px;
}

.creator__image{
  width: 100%;
  height: 184px;
}

.creator__image img{
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.creator__details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.creator__name{
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center; 
  color: #FFFFFF; 
  text-transform: capitalize;
  margin: 0px;
}

.creator__socials{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.social-media{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.social__icon{
  height: 24px;
  width: 24px;
}

.social-followers{
  margin: 0px;
  font-size: 10px !important; 
  font-weight: 400;
  line-height: 21px;
  text-align: center;  
  color: #B7B7B7;
}

/* community gainers section */

.community-gainers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 256px;
}

.gain-ctn{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 257px;
  align-self: flex-end;
  width: calc(100% - 24px);
  gap: 24px;
  overflow-y: hidden;
  overflow-x: auto;
}

.gains{
  height: 100%;
  flex: 1 0 445px;
}

.gain-ctn::-webkit-scrollbar{
  height: 10px;
}

.gain-ctn::-webkit-scrollbar-track{
  background: #010101;
}
.gain-ctn::-webkit-scrollbar-thumb{
  background:  #A58FFE;
  margin-top: 20px;
  border-radius: 4px;
}


/* testimonial section */
.testimonials{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 256px;
}

.testimony-ctn{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 24px);
  align-self: flex-end;
  overflow-y: hidden;
  overflow-x: auto;
  gap: 24px;
  padding: 5px 0px;
}

.testimony{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 24px;
  padding: 56px;
  border: 1px solid #404040;
  border-radius: 16px;
  height: 450px;
  flex: 1 0 calc(100% - 24px);
}

.testimony-ctn::-webkit-scrollbar{
  height: 10px;
}

.testimony-ctn::-webkit-scrollbar-track{
  background: #010101;
}
.testimony-ctn::-webkit-scrollbar-thumb{
  background:  #A58FFE;
  margin-top: 20px;
  border-radius: 4px;
}

.testimony__stars{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.star{
  height: 24px;
  width: 24px;
}

.testimony__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 24px;
  width: 100%;
}

.testimony__text--small{
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;  
  color: #ffffff;
  margin: 0px;
  text-transform: capitalize;
}

.testimony__client{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
}

.client__text--big{
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;  
  color: #FFFFFF;
  margin: 0px;
  text-transform: capitalize;
}

.client__text--faded{
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;  
  color: #707070;
  margin: 0px;
  text-transform: capitalize;
}

/* packages section */

.our-packages{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 256px;
}

.packages-ctn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: fit-content;
  width: 100%;
  padding: 0px 24px;
}

.packages{
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 24px;
  border: 1px solid #404040;
  border-radius: 16px;
  gap: 24px;
  background-color: transparent;
}

.package__bundle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  width: 100%;

}

.bundle__price{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.bundle__price--small{
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;  
  color: #B7B7B7;
  margin: 0px;
}

.bundle__price--big{
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;  
  margin: 0px;
}

.bundle__type{
  width: fit-content;
  border: 1px solid #404040;
  border-radius: 32px;
  padding: 12px 24px;
}

.bundle__type-text{
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;  
  margin: 0px;
  text-transform: capitalize;
}

.white-line{
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
}

.grey-line{
  width: 100%;
  height: 1px;
  background-color: #404040;
}

.bundle__details-ctn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.bundle__details{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.premium-package, .alpha-package{
  background-color: #4A406E !important;
}

.premium-bundle, .alpha-bundle{
  border: 1px solid #ffffff;
}

.bundle__details--alpha{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;  
  margin: 0px;
  color: #ffffff;
}

.icon-check{
}

.icon-cross{
}


/* FAQ section */
.FAQ{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  padding: 0px 24px;
  margin-bottom: 256px;
}

.FAQ .section__heading{
  margin: 0px;
  padding: 0px;
}


.FAQ-ctn{
  width: 100%;
  background-color: #010101;
}

.FAQ-questions{
  background-color: #010101 !important;
  border: 1px solid #404040 !important;
}

.FAQ-questions:first-child, .FAQ-question__title:first-child{
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.FAQ-questions:last-child, .FAQ-question__title:last-child{
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}

.FAQ-question__title{
  background-color: #010101 !important;
  padding: 24px !important;
  font-size: 16px !important;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  color: #FFFFFF !important;
  border: 0  !important;
}

.FAQ-question__answer{
  background-color: #010101 !important;
  font-size: 16px !important;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  color: #CFCFCF !important;
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  margin-bottom: 24px;
  padding: 0px 24px !important;
}

.purple-link{
  color: #A58FFE;
}

.accordion-button::after {
  background-position: center;
  background-image: url(../images/plus-sign.svg) !important;
  height: 24px !important;
  width: 24px !important;
}

.accordion-button:not(.collapsed)::after {
  background-position: center;
  background-image: url(../images/icon-minus.svg) !important;
  height: 24px !important;
  width: 24px !important;
}

/* footer section */
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  height: fit-content;
  z-index: 10;
  padding: 0px;
}

.footer::before{
  content: ' ';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0.4;
  padding: 0px;
  background-image: url(../images/header-background.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: top;
  z-index: 1;
}

.footer-gradient{
  background-image: linear-gradient(to bottom , #01010100, #010101);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 10;
  position: relative;
  z-index: 10;
  padding: 26px 24px;
}

.footer__copyright{
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;  
  color: #707070;
  margin: 0px;
  text-transform: capitalize;
}

.footer__social{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-transform: capitalize;
}

.social__text{
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;  
  color: #FFFFFF;
  text-transform: capitalize;
}

.social__icon{
  height: 24px;
  width: 24px;
}

@media only screen and (min-width: 425px)and (max-width: 850px){
  /* header section */
  .bg__gradient{
    background-image: linear-gradient(to bottom , #01010100, #010101);
    height: fit-content;
    width: 100%;
    padding: 0px 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 128px;
    z-index: 10;
    position: relative;
  }
    
  .header{
    height: fit-content;
    position: relative;
    width: 100%;
    margin-bottom: 400px;
    z-index: 10;
  }

  .header::before{
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    background-image: 
      url(../images/header-background.png) 
    ;
    background-position: top;
    background-size: contain;
    background-repeat: repeat;
    z-index: 1;
  }

  .header__navbar{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border: 1px solid #404040;
    border-radius: 16px;
    backdrop-filter: blur(70px);
    -webkit-backdrop-filter: blur(70px);
    width: calc(100% - 144px);
    position: fixed;
    top: 24px;
    z-index: 99;
  }

  .navbar__logo{
    background-image: url(../images/logo.png);
    height: 50px;
    width: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }

  .navbar__links{
    display: none;
  }

  .navbar__hamburger{
    height: 24px;
    width: 24px;
    cursor: pointer;
    display: block;
  }

  .header-welcome{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 250px;
  }

  .header__navbar .button--purple{
    display: none;
  }

  .header-welcome__text--small{
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;  
    color: #CFCFCF;
    margin-bottom: 16px;
    text-transform: capitalize;
  }

  .header-welcome__text--big{
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;  
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 24px;
  }

  .underline{
    text-decoration: underline;
  }

  .welcome__buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16px;
    margin-top: 32px;
  }

  .button--purple{
    border-radius: 8px;
    padding: 16px 24px;
    background-color: #A58FFE;
    width: 100%;
    outline: 0;
    border: #A58FFE solid 1px;
    color: #ffffff;
    text-transform: capitalize;
  }

  .button--transparent{
    border-radius: 8px;
    padding: 16px 24px;
    background-color: transparent;
    width: 100%;
    outline: 0;
    border: #A58FFE solid 1px;
    color: #ffffff;
    text-transform: capitalize;
  }

  .crypto-vault{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .vault-image{
    height: 200px;
    width: 200px;
  }

  .vault-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .vault-text-bold{
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;  
    color: #ffffff;
    margin: 0;
  }

  .vault-text{
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;  
    color: #CFCFCF;
    text-align: center;
    margin: 0;
  }

  .crypto-vault .button--purple{
    margin-top: 0px;
    width: 280px;
  }

  .purple-shadow--left{
    background-color: #A58FFE;
    height: 45px;
    width: 60%;
    filter: blur(80px);
    transform: rotate(45deg);
    position: absolute;
    left: 0px;
    top: 150px;
    z-index: 0;
  }

  .purple-shadow--right{
    background-color: #A58FFE;
    height: 45px;
    width: 60%;
    filter: blur(80px);
    transform: rotate(-45deg);
    position: absolute;
    right: 0px;
    top: 150px;
    z-index: 0;
  }

  /* features section */
  .features{
    background-color: #010101;
    height: fit-content;
    padding: 0px 72px;
    margin-bottom: 205px;
  }

  .feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
  }

  .section__heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 0px 72px;
  }

  .heading__text--big{
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    text-transform: capitalize;
  }

  .heading__text--small{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color: #CFCFCF;
  }

  .feature__info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2%;
    position: relative;
  }

  .info{
    border-radius: 16px;
    border: 1px solid #404040;
    height: 330px;
    width: 49% !important;
    margin-bottom: 20px;
  }

  .info__image{
    background-color: #211D33;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .info__image img{
    height: 150px;
    width: 150px;
  }

  .info__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 8px 16px;
  }

  .info__text p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
  }

  /* creators section */
  .creators{
    height: fit-content;
    background-image: url(../images/round-purple-background.svg);
    background-position: top -150px left;
    background-size: 700px 700px;
    background-repeat: no-repeat;
    padding: 0px;
    margin-bottom: 205px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .creators__info{
    height: 300px;
    display: flex;
    flex-direction: row;
    width: calc(100% - 72px);
    align-self: flex-end;
    gap: 16px;
    overflow-y: hidden;
    overflow-x: auto;
    
  }

  .creators__info::-webkit-scrollbar{
    height: 8px;
  }

  .creators__info::-webkit-scrollbar-track{
    background: #010101;
  }
  .creators__info::-webkit-scrollbar-thumb{
    background:  #A58FFE;
    margin-top: 20px;
    border-radius: 4px;
  }

  .creator{
    display: flex;
    flex: 1 0 200px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    gap: 16px;
  }

  .creator__image{
    width: 100%;
    height: 184px;
  }

  .creator__image img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }

  .creator__details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .creator__name{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center; 
    color: #FFFFFF; 
    text-transform: capitalize;
    margin: 0px;
  }

  .creator__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .social__icon{
    height: 24px;
    width: 24px;
  }

  .social-followers{
    margin: 0px;
    font-size: 10px !important; 
    font-weight: 400;
    line-height: 21px;
    text-align: center;  
    color: #B7B7B7;
  }

  /* community gainers section */

  .community-gainers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 256px;
  }

  .gain-ctn{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 257px;
    align-self: flex-end;
    width: calc(100% - 72px);
    gap: 24px;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .gains{
    height: 100%;
    flex: 1 0 445px;
  }

  .gain-ctn::-webkit-scrollbar{
    height: 10px;
  }

  .gain-ctn::-webkit-scrollbar-track{
    background: #010101;
  }
  .gain-ctn::-webkit-scrollbar-thumb{
    background:  #A58FFE;
    margin-top: 20px;
    border-radius: 4px;
  }


  /* testimonial section */
  .testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 256px;
  }

  .testimony-ctn{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 72px);
    align-self: flex-end;
    overflow-y: hidden;
    overflow-x: auto;
    gap: 24px;
    padding: 5px 0px;
  }

  .testimony{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 24px;
    padding: 56px;
    border: 1px solid #404040;
    border-radius: 16px;
    height: fit-content;
    flex: 1 0 calc(100% - 72px);
  }

  .testimony-ctn::-webkit-scrollbar{
    height: 10px;
  }

  .testimony-ctn::-webkit-scrollbar-track{
    background: #010101;
  }
  .testimony-ctn::-webkit-scrollbar-thumb{
    background:  #A58FFE;
    margin-top: 20px;
    border-radius: 4px;
  }

  .testimony__stars{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .star{
    height: 24px;
    width: 24px;
  }

  .testimony__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 24px;
    width: 100%;
  }

  .testimony__text--small{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;  
    color: #ffffff;
    margin: 0px;
    text-transform: capitalize;
  }

  .testimony__client{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
  }

  .client__text--big{
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    text-align: left;  
    color: #FFFFFF;
    margin: 0px;
    text-transform: capitalize;
  }

  .client__text--faded{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;  
    color: #707070;
    margin: 0px;
    text-transform: capitalize;
  }

  /* packages section */

  .our-packages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 256px;
  }

  .packages-ctn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: fit-content;
    width: 100%;
    padding: 0px 72px;
  }

  .packages{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 24px;
    border: 1px solid #404040;
    border-radius: 16px;
    gap: 24px;
    background-color: transparent;
  }

  .package__bundle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    width: 100%;

  }

  .bundle__price{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
  }

  .bundle__price--small{
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;  
    color: #B7B7B7;
    margin: 0px;
  }

  .bundle__price--big{
    color: #ffffff;
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;  
    margin: 0px;
  }

  .bundle__type{
    width: fit-content;
    border: 1px solid #404040;
    border-radius: 32px;
    padding: 12px 24px;
  }

  .bundle__type-text{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;  
    margin: 0px;
    text-transform: capitalize;
  }

  .white-line{
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
  }

  .grey-line{
    display: none;
  }

  .bundle__details-ctn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
  }

  .bundle__details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .premium-package, .alpha-package{
    background-color: #4A406E !important;
  }

  .premium-bundle, .alpha-bundle{
    border: 1px solid #ffffff;
  }

  .bundle__details--alpha{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;  
    margin: 0px;
    color: #ffffff;
  }

  .icon-check{
  }

  .icon-cross{
  }


  /* FAQ section */
  .FAQ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
    padding: 0px 72px;
    margin-bottom: 256px;
  }

  .FAQ .section__heading{
    margin: 0px;
    padding: 0px;
  }


  .FAQ-ctn{
    width: 100%;
    background-color: #010101;
  }

  .FAQ-questions{
    background-color: #010101 !important;
    border: 1px solid #404040 !important;
  }

  .FAQ-questions:first-child, .FAQ-question__title:first-child{
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }

  .FAQ-questions:last-child, .FAQ-question__title:last-child{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
  }

  .FAQ-question__title{
    background-color: #010101 !important;
    padding: 24px !important;
    font-size: 16px !important;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #FFFFFF !important;
    border: 0  !important;
  }

  .FAQ-question__answer{
    background-color: #010101 !important;
    font-size: 16px !important;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #CFCFCF !important;
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    margin-bottom: 24px;
    padding: 0px 72px !important;
  }

  .purple-link{
    color: #A58FFE;
  }

  .accordion-button::after {
    background-position: center;
    background-image: url(../images/plus-sign.svg) !important;
    height: 24px !important;
    width: 24px !important;
  }

  .accordion-button:not(.collapsed)::after {
    background-position: center;
    background-image: url(../images/icon-minus.svg) !important;
    height: 24px !important;
    width: 24px !important;
  }

  /* footer section */
  .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    height: fit-content;
    z-index: 10;
    padding: 0px;
  }

  .footer::before{
    content: ' ';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0.4;
    padding: 0px;
    background-image: url(../images/header-background-desktop.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: top;
    z-index: 1;
  }

  .footer-gradient{
    background-image: linear-gradient(to bottom , #01010100, #010101);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 10;
    position: relative;
    z-index: 10;
    padding: 26px 72px;
  }

    
  .footer-gradient{
    background-image: linear-gradient(to bottom , #01010100, #010101);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 10;
  }

  .footer__copyright{
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;  
    color: #707070;
    margin: 0px;
    text-transform: capitalize;
  }

  .footer__social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-transform: capitalize;
  }

  .social__text{
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;  
    color: #FFFFFF;
    text-transform: capitalize;
  }

  .social__icon{
    height: 24px;
    width: 24px;
  }
}

@media only screen and (min-width: 851px){

  /* header section */
  .bg__gradient{
    background-image: linear-gradient(to bottom , #01010100, #010101);
    height: fit-content;
    width: 100%;
    padding: 0px 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 128px;
    margin-bottom: 0px;
    z-index: 10;
    position: relative;
  }
  
  .header{
    height: fit-content;
    position: relative;
    width: 100%;
    gap: 144px;
    margin-bottom: 400px;
    z-index: 10;
  }

  .header::before{
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    background-image: 
      url(../images/header-background-desktop.png) 
    ;
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    z-index: 1;
  }

  .header-spiral-image{
    position: absolute;
    top: -20px;
    left: 56px;
    height: 250px;
    width: 300px;
  }
  
  .header__navbar{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25.5px 40px;
    border: 1px solid #404040;
    border-radius: 16px;
    backdrop-filter: blur(70px);
    -webkit-backdrop-filter: blur(70px);
    width: calc(100% - 288px);
    position: fixed;
    top: 24px;
    z-index: 99;
  }
  
  .navbar__logo{
    background-image: url(../images/logo.png);
    height: 50px;
    width: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }

  .link{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;  
    color: #9F9F9F;
    text-transform: capitalize;  
    text-decoration: none;
  }

  .link:hover{
    color: #ffffff;
  }
  
  .header-welcome{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__navbar .button--purple{
    display: none;
  }
  
  .header-welcome__text--small{  
    color: #CFCFCF;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
  }
  
  .header-welcome__text--big{
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    text-align: center;    
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 32px;
  }
  
  .underline{
    text-decoration: underline;
  }

  .welcome__buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
  }

  .button--purple{
    border-radius: 8px;
    padding: 12px 18px;
    background-color: #A58FFE;
    width: 177px;
    height: 56px;
    outline: 0;
    border: #A58FFE solid 1px;
    color: #ffffff;
    text-transform: capitalize;
    margin: 0px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  }
  
  .button--transparent{
    border-radius: 8px;
    padding: 12px 18px;
    background-color: transparent;
    width: 167px;
    height: 56px;
    outline: 0;
    border: #A58FFE solid 1px;
    color: #ffffff;
    text-transform: capitalize;
  }
  
  .crypto-vault{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  
  .vault-image{
    height: 400px;
    width: 400px;
  }
  
  .vault-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-left: 0px;
  }
  
  .vault-text-bold{
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;  
    color: #ffffff;
    margin: 0;
  }
  
  .vault-text{
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;  
    color: #CFCFCF;
    margin: 0;
  }
  
  .crypto-vault .button--purple{
    margin-top: 0px;
  }

  .purple-shadow--left{
    background-color: #A58FFE;
    height: 80px;
    width: 60%;
    filter: blur(150px);
    transform: rotate(30deg);
    position: absolute;
    left: 0px;
    top: 250px;
    z-index: 0;
  }
  
  .purple-shadow--right{
    background-color: #A58FFE;
    height: 80px;
    width: 60%;
    filter: blur(150px);
    transform: rotate(-30deg);
    position: absolute;
    right: 0px;
    top: 250px;
    z-index: 0;
  }

  /* features section */
  .features{
    background-color: #010101;
    height: fit-content;
    padding: 0px 144px;
    margin-bottom: 400px;
    position: relative;
  }

  .feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 56px;
  }

  .features .purple-shadow{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 120px;
    left: -144px;
    background-color: #A58FFE;
    filter: blur(250px);
    z-index: 0;
  }

  .section__heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0 136px;
  }

  .heading__text--big{
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;    
    color: #FFFFFF;
    text-transform: capitalize;
  }

  .heading__text--small{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;    
    color: #CFCFCF;
  }

  .feature__info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2%;
    position: relative;
  }

  .info{
    border-radius: 16px;
    border: 1px solid #404040;
    height: 400px;
    width: 32%;
    margin-bottom: 40px;
  }

  .info__image{
    background-color: #211D33;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .info__image img{
    height: 205px;
    width: 205px;
  }

  .info__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 8px 16px;
  }

  .info__text p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
  }

  /* creators section */
  .creators{
    height: fit-content;
    background-image: url(../images/round-purple-background.svg);
    background-position: top left;
    background-size: 700px 700px;
    background-repeat: no-repeat;
    margin-bottom: 205px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
  }

  .creators__info{
    height: 400px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: calc(100% - 144px);
    gap: 24px;
    overflow-y: hidden;
    overflow-x: auto;
    user-select: none;
    cursor: pointer;
  }

  .creators__info::-webkit-scrollbar{
    height: 10px;
  }

  .creators__info::-webkit-scrollbar-track{
    background: #010101;
  }
  .creators__info::-webkit-scrollbar-thumb{
    background:  #A58FFE;
    margin-top: 20px;
    border-radius: 4px;
  }

  .creator{
    display: flex;
    flex: 1 0 270px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    gap: 16px;
    user-select: none;
  }

  .creator:last-child, .gains:last-child, .testimony:last-child{
    margin-right: 24px;
  }

  .creator__image{
    width: 100%;
    height: 250px;
  }

  .creator__image img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
  }

  .creator__details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 150px;
  }

  .creator__name{
    font-size: 26px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;    
    color: #FFFFFF; 
    text-transform: capitalize;
    margin: 0px;
  }

  .creator__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .social-media{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .social__icon{
    height: 24px;
    width: 24px;
  }

  .social-followers{
    font-size: 20px !important;
    font-weight: 400;
    line-height: 30px;
    text-align: center;     
    color: #B7B7B7;
  }

  .community-gainers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
    margin-bottom: 400px;
  }

  .gain-ctn{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
    align-self: flex-end;
    width: calc(100% - 144px);
    gap: 24px;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 5px 0px;
  }

  .gains{
    height: 100%;
    flex: 1 0 700px;
  }

  .gain-ctn::-webkit-scrollbar{
    height: 10px;
  }

  .gain-ctn::-webkit-scrollbar-track{
    background: #010101;
  }
  .gain-ctn::-webkit-scrollbar-thumb{
    background:  #A58FFE;
    margin-top: 20px;
    border-radius: 4px;
  }

  /* testimonial section */

  .testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 256px;
  }
    
  .testimony-ctn{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 144px);
    align-self: flex-end;
    overflow-y: hidden;
    overflow-x: auto;
    gap: 24px;
    padding: 5px 0px;
  }
  
  .testimony{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 24px;
    padding: 56px;
    border: 1px solid #404040;
    border-radius: 16px;
    height: 450px;
    flex: 1 0 424px;
  }
  
  .testimony-ctn::-webkit-scrollbar{
    height: 10px;
  }
  
  .testimony-ctn::-webkit-scrollbar-track{
    background: #010101;
  }
  .testimony-ctn::-webkit-scrollbar-thumb{
    background:  #A58FFE;
    margin-top: 20px;
    border-radius: 4px;
  }
  
  .testimony__stars{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
  .star{
    height: 24px;
    width: 24px;
  }
  
  .testimony__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 24px;
    width: 100%;
  }
  
  .testimony__text--small{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;  
    color: #ffffff;
    margin: 0px;
    text-transform: capitalize;
  }
  
  .testimony__client{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
  }
  
  .client__text--big{
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;  
    color: #FFFFFF;
    margin: 0px;
    text-transform: capitalize;
  }
  
  .client__text--faded{
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;  
    color: #707070;
    margin: 0px;
    text-transform: capitalize;
  }

  /* packages section */

  .our-packages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 400px;
  }

  .packages-ctn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2%;
    height: fit-content;
    width: 100%;
    padding: 0px 144px;
  }

  .packages{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32%;
    padding: 40px 24px;
    border: 1px solid #404040;
    border-radius: 16px;
    gap: 24px;
    background-color: transparent;
    margin-bottom: 20px;
  }

  .alpha-package{
    padding: 40px;
    display: flex;
    flex-direction: row;
    width: 100% !important;
    height: fit-content;
    gap: 40px;
  }

  .alpha-package .white-line{
    display: none;
  }

  .package__bundle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
  }

  .alpha-package .package__bundle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    width: 400px;
  }

  .bundle__price{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
  }

  .bundle__price--small{
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;  
    color: #B7B7B7;
    margin: 0px;
  }

  .bundle__price--big{
    color: #ffffff;
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;  
    margin: 0px;
  }

  .bundle__type{
    width: fit-content;
    border: 1px solid #404040;
    border-radius: 32px;
    padding: 12px 24px;
  }

  .bundle__type-text{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;  
    margin: 0px;
    text-transform: capitalize;
  }

  .white-line{
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
  }

  .grey-line{
    display: none;
  }

  .bundle__details-ctn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
  }

  .bundle__details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .premium-package, .alpha-package{
    background-color: #4A406E !important;
  }

  .premium-bundle, .alpha-bundle{
    border: 1px solid #ffffff;
  }

  .bundle__details--alpha{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;  
    margin: 0px;
    color: #ffffff;
  }

  .packages .button--purple{
    width: 100% !important;
  }

  .alpha-package .button--purple{
    width: 280px !important;
  }

  .icon-check{
  }

  .icon-cross{
  }

  /* FAQ section */
  .FAQ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
    padding: 0px 144px;
    margin-bottom: 204px;
  }

  .FAQ .section__heading{
    margin: 0px;
    padding: 0px;
  }


  .FAQ-ctn{
    width: 100%;
    background-color: #010101;
  }

  .FAQ-questions{
    background-color: #010101 !important;
    border: 1px solid #404040 !important;
  }

  .FAQ-questions:first-child, .FAQ-question__title:first-child{
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }

  .FAQ-questions:last-child, .FAQ-question__title:last-child{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
  }

  .FAQ-question__title{
    background-color: #010101 !important;
    padding: 40px !important;
    font-size: 24px !important;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF !important;
    border: 0  !important;
  }

  .FAQ-question__answer{
    background-color: #010101 !important;
    font-size: 20px !important;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #CFCFCF !important;
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    margin-bottom: 40px;
    padding: 0px 40px !important;
  }

  .purple-link{
    color: #A58FFE;
  }

  .accordion-button::after {
    background-image: url(../images/plus-sign.svg) !important;
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url(../images/icon-minus.svg) !important;
  }

  /* footer section */
  .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    height: fit-content;
    z-index: 10;
    padding: 0px;
  }
  
  .footer::before{
    content: ' ';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0.4;
    background-image: url(../images/header-background-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 1;
    padding: 0px;
  }
  
  .footer-gradient{
    background-image: linear-gradient(to bottom , #01010100, #010101);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 10;
    padding: 58px 144px;
  }

  .footer__copyright{
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;  
    color: #707070;
    margin: 0px;
    text-transform: capitalize;
  }

  .footer__social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-transform: capitalize;
  }

  .social__text{
    margin: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;  
    color: #FFFFFF;
    text-transform: capitalize;
  }

  .social__icon{
    height: 24px;
    width: 24px;
  }

}


@media only screen and (min-width: 1220px){
  .navbar__links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    align-items: center;
  }

  .navbar__hamburger{
    display: none;
  }

  .header__navbar .button--purple{
    margin: 0px;
    width: 151px;
    height: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;   
    padding: 12px 20px; 
    display: block !important;
  }
    
  .crypto-vault{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
  }

  .vault-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 24px;
    margin-left: 0px;
  }

  .vault-text-bold{
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-align: start;  
    color: #ffffff;
    margin: 0;
  }
  
  .vault-text{
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: start;  
    color: #CFCFCF;
    margin: 0;
  }
}